/*
  _     ___ ____ _____ ____
 | |   |_ _/ ___|_   _/ ___|
 | |    | |\___ \ | | \___ \
 | |___ | | ___) || |  ___) |
 |_____|___|____/ |_| |____/

*/

/* ==========================================================================
   %% Number Lists %%
   ========================================================================== */

.numbered-list {
  list-style-type: decimal;
}


/* ==========================================================================
   %% Bullet Lists %%
   ========================================================================== */

.bulleted-list {
  padding-left: 20px;
  @include font($font: $font-1, $style: normal, $size: .95rem, $weight: normal);
  list-style: disc;
  margin: 0 0 20px 0;
  line-height: 140%;
}
